:root {
    --width-conteiner: 1200px;
    --distance-between-cards: 30px;

    --number-columns-benefits: 4;
    --number-columns-work: 3;
    --number-columns-team: 4;
    --number-columns-portfolio-galery: 3;
    /* color */
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #f5f4fa;
    --color-bg-theme-dark: #2f303a;
    --color-bg-social-link-footer: rgba(255, 255, 255, 0.1);

    --color-accent: #2196f3;

    --color-text-theme-dark: #ffffff;
    --color-logo-header: #000000;
    --color-text: #757575;
    --color-nav-and-title: #212121;

    --color-social-link: #afb1b8;
    --color-contacts-footer: rgba(255, 255, 255, 0.6);

    --color-border-heder: #ececec;
    --color-border-potfolio: #eeeeee;

    --font-family-primary: "Roboto", sans-serif;
    --font-family-secondary: "Raleway", sans-serif;
    --animetion-time-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --modal-animetion-time-func: 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}