.benefits {
    &__title {
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--distance-between-cards);
    }

    &__item {
        @include flex-basis__calc(var(--number-columns-benefits), var(--distance-between-cards));

    }

    &__icon {
        @include f-aling;
        height: 120px;
        background-color: var(--color-bg-secondary);
        margin-bottom: 30px;
        border-radius: 4px;
    }
}