.work {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--distance-between-cards);
    }

    &__item {
        @include flex-basis__calc(var(--number-columns-work), var(--distance-between-cards));
        position: relative;
    }

    &__description {
        @include f-aling;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 70px;
        width: 100%;
        background-color: rgba(47, 48, 58, 0.8);
    }

    &__title {
        color: var(--color-text-theme-dark);
        text-transform: uppercase;
    }

}