.work{
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--distance-between-cards);
    }
    &__item {
        flex-basis: calc((100% - (var(--number-columns-work) - 1) * var(--distance-between-cards)) / var(--number-columns-work));
        position: relative;
    }
    &__description {
        @include f-aling;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 70px;
        width: 100%;
        background-color: rgba(47, 48, 58, 0.8);
    }
    &__title {
        color: var(--color-text-theme-dark);
        text-transform: uppercase;
    }
}