.logo {
    font-family: var(--font-family-secondary);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    &--accent {
        color: var(--color-accent);
    }

    &--header {
        color: var(--color-logo-header);
    }
}